{% extends "index.html" %}

{% block title %}u-accounts-garagegroup-mapping{% endblock %}

{% block style %}{% endblock %}

{% load custom_filters %}
{% block content %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Accounts</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'r-accounts-garagegroup' %}">List Garage Group</a>
                                    </li>
                                    <li class="breadcrumb-item active">Mapping Garage Group
                                    </li>
                                </ol>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="u-accounts-garagegroup-mapping">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="{% url 'u-accounts-garagegroup-mapping' garagegroup_obj.id %}">
                                    {% csrf_token %}  
                                    <div class="row">
                                        <div class="col-12 mb-1">
                                            <label class="form-label" for="garage_id">Assign Garage</label>
                                            <select id="garage_id" name="garage_id" class="select2 form-select" multiple="multiple">
                                                {% for garage_obj in garage_objs %}
                                                    <option value="{{garage_obj.id}}" {% if garage_obj.id in selected_garage_ids %} selected {% endif %}>{{garage_obj.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12 d-flex justify-content-between">
                                            <button type="reset" class="btn btn-outline-secondary waves-effect">Cancel</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">
                                                <i data-feather="save" class="me-50"></i> Save Garage Mapping
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}