{% extends "index.html" %}
{% load static %}

{% block title %}r-roles{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Roles & Permission</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'r-users-profile' %}">Profile</a>
                                    </li>
                                    <li class="breadcrumb-item active">Role List
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">
                        <!-- <div class="dropdown">
                            <button class="btn-icon btn btn-success btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="app-todo.html"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="app-chat.html"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="app-email.html"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="app-calendar.html"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="content-body">
            <!-- Role cards -->
                <div class="row">
                    <div class="col-12 mb-1">  
                        {% if 'add' in useruiacl.Users.Roles %}                                  
                        <a href="{% url 'c-roles' %}" class="btn btn-icon btn-success waves-effect" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Add roles">
                            <span><i data-feather='plus-square'></i></span>
                        </a>   
                        {% endif %}

                        {% if 'delete' in useruiacl.Users.Roles %}
                            {% if roles %}
                            <button type="button"  id="delRoles" class="btn btn-icon btn-danger waves-effect"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Delete roles">
                                <i data-feather='trash-2'></i>
                            </button> 
                            {% endif %} 
                        {% endif %}
                    </div>     
                    {% for role in roles %} 
                    <div class="col-md-2 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <span>Total {{ role.users.all|length }} users</span>
                                    <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                                        {% for user in role.users.all %}
                                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" title="{{user.name}}" class="avatar avatar-sm pull-up">
                                            <img class="rounded-circle" src="{% static 'custom-assets/images/profile-icon.png' %}" alt="icon" />
                                        </li>
                                        {%endfor%} 
                                    </ul>
                                </div>
                                <div class="d-flex justify-content-between align-items-end mt-1 pt-25">
                                    <div class="role-heading">
                                        <h4 class="fw-bolder">{{role.name}}</h4>
                                        <a {% if 'edit' in useruiacl.Users.Roles %}href="{% url 'u-roles' role.id %}"{% endif %} class="role-edit-modal">
                                            <small class="fw-bolder">Edit Role</small>
                                        </a>
                                    </div>    
                                    {% if 'delete' in useruiacl.Users.Roles %}                                                         
                                    <form method="post" class="form-check-success">
                                        {% csrf_token %}
                                        <input  class="form-check-input" type="checkbox" name="checkedRoles" value="{{role.id}}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Select role to delete">
                                    </form> 
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>     
                    {% empty %} 
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar bg-light-danger avatar-xl">
                                    <span class="avatar-content"><i data-feather='alert-circle'></i></span>
                                </div>
                                <p class="card-text fw-bolder">No data available.</p>
                                <p class="card-text fw-bold">Click on <i data-feather='plus-square'></i> icon to add roles.</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%} 
                </div>
                <!--/ Role cards -->
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'custom-assets/js/selectAllCheckbox.js' %}"></script>
<script src="{% static 'custom-assets/js/deleteConfirmation.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const delRolesButton = document.getElementById("delRoles");

        delRolesButton?.addEventListener("click", function () {
            let ids = [];
            const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            document.querySelectorAll('input[name="checkedRoles"]:checked').forEach(function (input) {
                ids.push(input.value);
            });

            // Prepare data and URL for the AJAX request
            const data = {
                id: ids,
                csrfmiddlewaretoken: csrfToken
            };
            const ajaxUrl = "{% url 'd-roles' %}";

            
            deleteConfirmation(data, ajaxUrl);
        });
    });
</script>
{% endblock %}